{% extends 'core.html' %}
{% load static  %}
{% block content %}

    <!-- ***** Header Area Start ***** -->
    {% include 'header.html' %}
    <!-- ***** Header Area End ***** -->

    <!-- ***** Welcome Area Start ***** -->
    {% include 'welcome.html' %}
    <!-- ***** Welcome Area End ***** -->

    <!-- ***** Features Small Start ***** -->
    {% include 'features_small.html'%}
    <!-- ***** Features Small End ***** -->

    <!-- ***** Features Big Item 1 & 2 Start ***** -->
    {% include 'features_big.html' %}
    <!-- ***** Features Big Item 1 & 2 End ***** -->

    <!-- ***** Home Parallax / Work Processes Start ***** -->
    {% include 'work_process.html' %}
    <!-- ***** Home Parallax / Work Processes End ***** -->

    <!-- ***** Testimonials Start ***** -->
    {% include 'testimonials.html' %}
    <!-- ***** Testimonials End ***** -->

    <!-- ***** Pricing Plans Start ***** -->
    {% include 'pricing.html' %}
    <!-- ***** Pricing Plans End ***** -->

    <!-- ***** Counter Parallax Start ***** -->
    {% include 'counter.html' %}
    <!-- ***** Counter Parallax End ***** -->

    <!-- ***** Contact Us Start ***** -->
    {% include 'contact.html' %}
    <!-- ***** Contact Us End ***** -->
    
    <!-- ***** Footer Start ***** -->
    {% include 'footer.html' %}
    <!-- ***** Footer End ***** -->

{% endblock %}